html,body {
	color: #4e575b;
}
.refresh-line {
	text-align: center;
	padding: 15px 0 30px;
	margin-bottom: 3em;
}
.block ul {
	list-style: none;
}
.btn {
	border-radius: 0;
	padding: 10px 20px;
}
.panel {
	border-radius: 0;
}
.text-bold {
	font-weight: bold;
}
.panel-body {
    padding: 9px;
}
.blue-line {
	background: #E6F1F6;
}
.octicon {
    vertical-align: text-bottom;
}
.text-success, .text-open, .text-green {
    color: #55a532 !important;
}
svg {
	fill: #55a532 !important;
}