<html ng-app="app">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Frontend Dev Challenge</title>
        <link rel="stylesheet" href="css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">
    </head>
    <body  ng-controller="GitHubController">
		<span us-spinner="{radius:30, width:8, length: 16}"></span>
        <div class="container">
			<div class="row-fluid refresh-line">
				<button class="btn btn-primary" ng-click="refresh(repositoryId)">Refresh</button>
			</div>
			<div class="clearfix"></div>
			<div class="row-fluid block">
				<ul>
				  <li ng-repeat="commit in commits  | orderBy: 'commit.author.date'">
					<div class="panel panel-default">
						<div class="panel-body" ng-class="{ 'blue-line': checkIfNumber(commit.sha)}">
							<div class="media">
							  <div class="media-left">
								<img class="media-object" src="{{commit.author.avatar_url}}" alt="{{commit.commit.author.name}}" width="50" height="50">
							  </div>
							  <div class="media-body">
								<h4 class="media-heading">{{commit.commit.message}}</h4>
								<div class="row">
									<div class="col-sm-6">
										<span class="text-bold">{{commit.committer.login}}</span> committed {{timediff(commit.commit.author.date)}} ago
										<svg aria-hidden="true" class="octicon octicon-check text-success" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5z"></path></svg>
									</div>
									<div class="col-sm-6 text-right">commit: {{commit.sha}}</div>								
								</div>
							  </div>
							</div>							
						</div>
					</div>				  						
				  </li>
				</ul>						
			</div>
        </div>
        <script src="js/libs/jquery.min.js" charset="utf-8"></script>
		<script src="js/libs/bootstrap.min.js" charset="utf-8"></script>
		<script src="js/libs/angular.min.js" charset="utf-8"></script>
		<script src="js/libs/angular-route.min.js" charset="utf-8"></script>
		<script src="js/libs/angular-resource.min.js" charset="utf-8"></script>
		<script src="js/libs/moment.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="http://fgnass.github.io/spin.js/spin.min.js"></script>
		<script type="text/javascript" src="js/libs/angular-spinner.min.js"></script>
		<script type="text/javascript" src="js/libs/angular-loading-spinner.js"></script>		
        <script src="js/app.js" charset="utf-8"></script>

    </body>
    </body>
</html>